* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    padding: 30px 0px;
}

#scoreboard {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#players-scoreboard {
    display: flex;
    gap: 20px;
}

.playing-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 40vh;
    
    gap: 50px;
    border: 1px solid white;
    width: clamp(33%, 75%, 800px);
}

.computer-container, .human-container {
    border: 1px solid white;
    width: min(50%, 250px);
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.computer-action, .computer-result,
    .human-action, .human-result {
    text-align: center;
}

#button-container {
    display: flex;
    gap: 12px;
}

#button-container button {
    padding: 10px 20px;
    border: 1px solid white;
}