* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    color: white;
}

/* div {
    border: 1px solid white;
} */

.playing-field {
    display: flex;
    padding: 100px;
    gap: 50px;
    border: 1px solid white;
}